# Node
node_modules
dist

# Env
.env
.env.local
.env.*.local
backend/.env
backend/.env.local
backend/.env.*.local
frontend/.env
frontend/.env.local
frontend/.env.*.local
!.env.example
!backend/.env.example
!frontend/.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode

# Go
backend/bin
backend/tmp
.gocache/

# Build
*.exe
*.out
