PORT=3000

DB_SERVER=poli-redi-server.database.windows.net
DB_PORT=1433
DB_NAME=poli-redi-database
DB_USER=poli-redi-admin
DB_PASSWORD=
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false

ENTRA_TENANT_ID=
ENTRA_API_CLIENT_ID=
ENTRA_ISSUER=

# Optional alternative to the DB_* variables above:
# AZURE_SQL_CONNECTION_STRING=server=poli-redi-server.database.windows.net;user id=poli-redi-admin;password=;port=1433;database=poli-redi-database;encrypt=true;trustservercertificate=false;
